.Header{
    width: auto;
    height: a;
    background: #21325e;
    display: flex-start;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    column-gap: 20px;
    color: aliceblue;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-top: 1%;
    padding-left: 60px;

}
.Contact{
    justify-content: space-evenly;
    display: flex;
    flex-direction: row;
    row-gap: 30px;

}
#cell{
    display: flex;
    flex-direction: row;
    color: aqua;
    column-gap: 10px;
}
#email{
    display: flex;
    flex-direction: row;
    color: aqua;
    column-gap: 10px;
}

#resume{
    font-size: medium;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    color: aqua;
    column-gap: 10px;
    font-size: medium;
}
.tag{
    text-decoration: none;
    color: aqua;

}