.Header{
    width: auto;
    height: a;
    background:#2d2446;
    display: flex-start;
    justify-content: center;

    align-items: center;
    flex-direction: column;
    column-gap: 20px;
    color: rgb(255, 255, 255);
    font-family: 'Times New Roman', Times, serif;
    padding-top: 1%;
    padding-left: 60px;

}
.Contact{
    justify-content: space-evenly;
    display: flex;
    flex-direction: row;
    row-gap: 30px;

}
#cell{
    display: flex;
    flex-direction: row;
    color: rgb(255, 255, 255);
    column-gap: 10px;
}
#email{
    display: flex;
    flex-direction: row;
    color: rgb(255, 255, 255);
    column-gap: 10px;
}

#resume{
    font-size: medium;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    color: rgb(255, 255, 255);
    column-gap: 10px;
    font-size: medium;
}
.tag{
    text-decoration: none;
    color: rgb(255, 255, 255);

}
@media (max-width: 768px) {
  
  }
  