.navbar {
    width: 100%;
    height: 100px;
    background: #21325e;
    position: relative;
    transform: top 1s;
    margin: auto;
    padding: -2px;
  }
  .navbar.sticky {
    position: fixed;
    top:0px;
    animation-delay: 3s;
    height: auto;;
    background: #21325efa;
    font-weight: lighter;
    
    
  }
  
  .links {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
  }
 
  .navbar a {
    color: white;
    text-decoration: none;
    margin-bottom: 0px;
    font-size: 25px;
    padding: 15px;
  }
  
  .toggleButton {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  
  .toggleButton svg {
    font-size: 50px;
  }
  .toggleButton button {
    margin-right: 20px;
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
  }
  
  #open {
    height: 100vh;
  }
  
  #open .links {
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 100px;
  }
  
  #open a {
    width: 100%;
    text-align: center;
  }
  
  @media only screen and (max-width: 900px) {
    .navbar a {
      width: 70px;
    }
  }
  
  @media only screen and (max-width: 600px) {
    .toggleButton {
      display: flex;
    }
    #close a {
      display: none;
    }
  }
  
  @media only screen and (min-width: 600px) {
    .toggleButton {
      display: none;
    }
  
    .hiddenLinks {
      display: none;
    }
  
    #open {
      height: 100px;
    }
  
    #open .links {
      flex-direction: row;
    }
  }
  
  .navbar a.active {
    background: #293450fa;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    padding: 10px;
    padding-top: 8px;
    margin-bottom: 0;

  }
 